/*
 * global
 */

body {
    margin: 0;
    margin-right: 6px;
    background: url(bg.png) repeat-y;
    background-position: top right;
}


/*
 * index.html
 */

#index h1 {
    font-family: Helvetica;
    font-size: 12em;
    margin-bottom: -12px;
    border-bottom: none;
    color: #000;
}

#index a {
    font-family: Courier;
    font-size: 2em;
    color: #FF0066 !important;
    text-decoration: none;
    margin-left: 12em;
}


/*
 * 404.html
 */

div#index.four-oh-four a {
    margin-left: 1em;
}


/*
 * content pages
 */

#main, #index {
    float: left;
    margin-left: 1em;
    width: 80%;
}

#main h1 {
    font-family: Helvetica;
    color: #2B332E;
    border-bottom: 1px solid #FF0066;
}

#main h1 span {
  display: block;
  margin-top: -6px;
  border-bottom: 1px solid #FF0066;
}

#main a {
    color: #000;
}

#main a:hover {
    color: #FF0066;
    text-decoration: none;
}

#main h2 {
    border-bottom: 1px dashed #666;
    color: #2B332E;
}

#main h3 {
    color: #2B332E;
}

#main p {
    margin-left: 10px;
}

#main pre {
    margin-left: 10px;
    padding: .7em;
    border: 1px solid #ccc;
    background: #eee;
}

#main code {
    background: #eee;
}


/*
 * sidebar
 */

#sidebar {
    font-family: Verdana;
    float: right;
    list-style: none;
}

#sidebar a {
    text-decoration: none;
    color: white;
    background: black;
    display: block;
    padding: 5px;
    margin: .8em 0;
    font-size: 1.2em;
    letter-spacing: -1px;
}

#sidebar a:hover {
    background: #FF0066;
}

#sidebar a sup {
    font-size: .5em;
}


/*
 * footer
 */

#footer {
    padding: .5em;
    text-align: center;
    margin-top: 10px;
    border-top: 1px solid #666;
}

#footer a {
    color: #FF0066;
}


/* 
 * pygments 
 */

pre  { background: #ffffff; }
pre .c { color: #999988; font-style: italic } /* Comment */
pre .err { color: #a61717; background-color: #e3d2d2 } /* Error */
pre .k { font-weight: bold; color: #333; } /* Keyword */
pre .o { font-weight: bold } /* Operator */
pre .cm { color: #999988; font-style: italic } /* Comment.Multiline */
pre .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
pre .c1 { color: #999988; font-style: italic } /* Comment.Single */
pre .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
pre .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
pre .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
pre .ge { font-style: italic } /* Generic.Emph */
pre .gr { color: #aa0000 } /* Generic.Error */
pre .gh { color: #999999 } /* Generic.Heading */
pre .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
pre .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
pre .go { color: #888888 } /* Generic.Output */
pre .gp { color: #555555 } /* Generic.Prompt */
pre .gs { font-weight: bold } /* Generic.Strong */
pre .gu { color: #aaaaaa } /* Generic.Subheading */
pre .gt { color: #aa0000 } /* Generic.Traceback */
pre .kc { font-weight: bold } /* Keyword.Constant */
pre .kd { font-weight: bold } /* Keyword.Declaration */
pre .kp { font-weight: bold } /* Keyword.Pseudo */
pre .kr { font-weight: bold } /* Keyword.Reserved */
pre .kt { color: #445588; font-weight: bold } /* Keyword.Type */
pre .m { color: #009999 } /* Literal.Number */
pre .s { color: #d14 } /* Literal.String */
pre .na { color: #008080 } /* Name.Attribute */
pre .nb { color: #0086B3 } /* Name.Builtin */
pre .nc { color: #445588; font-weight: bold } /* Name.Class */
pre .no { color: #008080 } /* Name.Constant */
pre .ni { color: #800080 } /* Name.Entity */
pre .ne { color: #990000; font-weight: bold } /* Name.Exception */
pre .nf { color: #990000; font-weight: bold } /* Name.Function */
pre .nn { color: #555555 } /* Name.Namespace */
pre .nt { color: #000080 } /* Name.Tag */
pre .nv { color: #008080 } /* Name.Variable */
pre .ow { font-weight: bold } /* Operator.Word */
pre .w { color: #bbbbbb } /* Text.Whitespace */
pre .mf { color: #009999 } /* Literal.Number.Float */
pre .mh { color: #009999 } /* Literal.Number.Hex */
pre .mi { color: #009999 } /* Literal.Number.Integer */
pre .mo { color: #009999 } /* Literal.Number.Oct */
pre .sb { color: #d14 } /* Literal.String.Backtick */
pre .sc { color: #d14 } /* Literal.String.Char */
pre .sd { color: #d14 } /* Literal.String.Doc */
pre .s2 { color: #d14 } /* Literal.String.Double */
pre .se { color: #d14 } /* Literal.String.Escape */
pre .sh { color: #d14 } /* Literal.String.Heredoc */
pre .si { color: #d14 } /* Literal.String.Interpol */
pre .sx { color: #d14 } /* Literal.String.Other */
pre .sr { color: #009926 } /* Literal.String.Regex */
pre .s1 { color: #d14 } /* Literal.String.Single */
pre .ss { color: #990073 } /* Literal.String.Symbol */
pre .bp { color: #999999 } /* Name.Builtin.Pseudo */
pre .vc { color: #008080 } /* Name.Variable.Class */
pre .vg { color: #008080 } /* Name.Variable.Global */
pre .vi { color: #008080 } /* Name.Variable.Instance */
pre .il { color: #009999 } /* Literal.Number.Integer.Long */
