body {
    margin: 0;
    margin-right: 20px;
    font-family: Helvetica;
    font-size: 100px;
    color: #000;
    background-color: #fff;
    background: url(bg.png) repeat-y top right;
}

h1 {
    padding: 0;
    margin: 0;
}

h2 {
    font-family: Bitstream Vera Sans Mono, Monaco, Courier;
    font-size: 40px;
    letter-spacing: -0.04em;
    color: #FF0066 !important;
    text-decoration: none;
    margin: 0;
    margin-left: 270px;
}
