body {
    margin: 0;
    margin-right: 20px;
    font-family: Helvetica;
    font-size: 100px;
    color: #000;
    background-color: #fff;
    background: url(bg.png) repeat-y top right;
}

h1 {
    padding: 0;
    margin: 0;
}

h2 {
    font-family: Bitstream Vera Sans Mono, Monaco, Courier;
    font-size: 40px;
    letter-spacing: -0.04em;
    margin: 0;
    margin-top: -40px;
    margin-left: 190px;
}

h2 a {
    color: #FF0066;
    text-decoration: none;
}
